*{
    background-color: #f2d15d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    color:black;
    font-size:x-large;
    float: right;   

}
header>p{
    max-width: 50%;
}